
$primary-color: #373E45;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

$breakpoints: (
        mobile: 0,
        tablet: 768px,
        desktop: 1024px
);